# runtime dir
/runtime

# vendor dir
/vendor

# composer lock file
composer.lock

# IDE & OS files
.**.swp      # vim swap files
.idea
nbproject
.buildpath
.project
.settings
Thumbs.db   # windows thumbnail cache
.DS_Store   # Mac DS_Store Files

